<div class="modal" *ngIf="form">
  <div class="box">
    <h3>{{ form.id ? 'Editar' : 'Nova' }} transação</h3>

    <div class="grid">
      <label>Data
        <input type="date" [(ngModel)]="form.date" />
      </label>

      <label>Tipo
        <select [(ngModel)]="form.type">
          <option *ngFor="let t of types" [ngValue]="t">{{ t }}</option>
        </select>
      </label>

      <label *ngIf="form?.type !== 'INCOME'">Categoria
        <select [(ngModel)]="form.category">
          <option value="Alimentação">Alimentação</option>
          <option value="Transporte">Transporte</option>
          <option value="Lazer">Lazer</option>
          <option value="Moradia">Moradia</option>
          <option value="Outros">Outros</option>
        </select>
      </label>

      <label>Descrição
        <input type="text" [(ngModel)]="form.description" />
      </label>

      <label>Valor
        <input type="number" step="0.01" [(ngModel)]="form.amount" />
      </label>
    </div>

    <div class="actions">
      <button (click)="cancel.emit()">Cancelar</button>
      <button class="primary" (click)="submit()">Salvar</button>
    </div>
  </div>
</div>
