<configuration>
  <property name="PATTERN" value="%d{HH:mm:ss.SSS} [%level] [%X{requestId:- -}] [%X{user:- -}] %logger{36} - %msg%n"/>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
